node_modules/
dist/
*.exe
*.db
*.sqlite
turn/*.log
/server/.env
/server/.env.*
/client/.env
/client/.env.*

.env
.env.local
.env.development
.env.production
.env.*
**/.env
**/.env.local
**/.env.*
/.env
/*.env
/**/*.env
/**/*.env.local

supabase/.temp/

ssh-key-2026-07-19.key
ssh-key-2026-07-19.key.pub
